In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
data=pd.read_csv(r'C:\Users\anuvi\OneDrive\Desktop\Walmart.csv')

In [3]:
data.describe()

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,3203.000000,3203.000000,3203.000000,3203.000000,3203.000000,3203.000000
mean,4986.524508,91707.696534,226.493233,3.829535,0.109335,33.849032
std,2848.758232,5202.135433,524.876877,2.261270,0.146861,174.109081
min,3.000000,59102.000000,0.990000,1.000000,0.000000,-3399.980000
25%,2508.000000,90032.000000,19.440000,2.000000,0.000000,3.852000
50%,4988.000000,92105.000000,60.840000,3.000000,0.000000,11.166400
75%,7406.500000,94513.000000,215.809000,5.000000,0.200000,33.000400
max,9994.000000,99301.000000,13999.960000,14.000000,0.700000,6719.980800

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3203 entries, 0 to 3202
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         3203 non-null   int64
 1   Order ID       3203 non-null   object
 2   Order Date     3203 non-null   object
 3   Ship Date      3203 non-null   object
 4   Ship Mode      3203 non-null   object
 5   Customer ID    3203 non-null   object
 6   Customer Name  3203 non-null   object
 7   Segment        3203 non-null   object
 8   Country        3203 non-null   object
 9   City           3203 non-null   object
 10  State          3203 non-null   object
 11  Postal Code    3203 non-null   int64
 12  Region         3203 non-null   object
 13  Product ID     3203 non-null   object
 14  Category       3203 non-null   object
 15  Sub-Category   3203 non-null   object
 16  Product Name   3203 non-null   object
 17  Sales          3203 non-null   float64
 18  Quantity       3203 non-null   int64
 19  Discount       3203 non-null   float64
 20  Profit         3203 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 525.6+ KB

In [5]:
data.isna().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [6]:
for columns in data:
    if data[columns] is None:
        data[columns]=data[columns].mean()